<div class="dropdown-menu pull-right" id="showing-desktop">
    <a href="/dashboard" class="sub-menu-item {% if request.path == '/dashboard' %}bg-success-subtle{% endif %}">
        <i class="bi bi-speedometer2 me-2"></i>Dashboard
    </a>
    
    <a href="#" class="sub-menu-item text-secondary {% if '/edit-user-profile' in request.path %}bg-success-subtle{% endif %}">
        <i class="bi bi-person ms-3 me-2"></i>Edit Users Profile
    </a>

    <a href="/all-homes" class="sub-menu-item {% if request.path == '/all-homes' %}bg-success-subtle{% endif %}">
        <i class="bi bi-houses me-2"></i>All Homes
    </a>

    <a href="#" class="sub-menu-item text-secondary {% if '/admin-home-details' in request.path %}bg-success-subtle{% endif %}">
        <i class="bi bi-eye ms-3 me-2"></i>View Homes
    </a>

    <a href="#" class="sub-menu-item text-secondary {% if '/admin-edit-home-details' in request.path %}bg-success-subtle{% endif %}">
        <i class="bi bi-pencil-square ms-3 me-2"></i>Edit Homes Details
    </a>

    <a href="#" class="sub-menu-item text-secondary {% if '/admin-update-home-images' in request.path %}bg-success-subtle{% endif %}">
        <i class="bi bi-cloud-arrow-up ms-3 me-2"></i>Update Homes Images
    </a>

    <a href="/update-membership" class="sub-menu-item {% if request.path == '/update-membership' %}bg-success-subtle {% endif %}">
        <i class="bi bi-person-badge me-2"></i>Update Membership
    </a>

    <a href="/membership-request" class="sub-menu-item {% if request.path == '/membership-request' %}bg-success-subtle {% endif %}">
        <i class="bi bi-question-circle"></i>Membership Request
    </a>

    <a href="/contact-form" class="sub-menu-item {% if request.path == '/contact-form' %}bg-success-subtle {% endif %}">
        <i class="bi bi-person-lines-fill"></i>Contact Form Query
    </a>

    <a href="{{ url_for('logout') }}" class="sub-menu-item">
        <i class="bi bi-power me-2"></i>Log Out
    </a>
</div>
