{% set static_url = '/static' %}

{% set blogs = [
    {
        'id': 1,
        'img': '/uploads/default.webp',
        'date': '01 August 2025',
        'title': 'Why people choose Cosmo Xclub for Home Exchange',
        'desc': 'Why people choose Cosmo Xclub for Home Exchange',
        'btn': 'Continue'
    },
] %}
{% for item in blogs %}
<!-- Single blog Grid -->
<div class="col-xl-4 col-lg-4 col-md-6">
    <div class="blog-wrap-grid h-100 shadow">
        
        <div class="blog-thumb">
            <a href="#">
                <img src="{{ static_url ~ item.img }}" class="img-fluid" alt="">
            </a>
        </div>
        
        <div class="blog-info">
            <span class="post-date label bg-primary text-light">
                <i class="ti ti-calendar"></i>{{ item.date }}
            </span>
        </div>
        
        <div class="blog-body">
            <h4 class="bl-title">
                <a href="#">
                    {{ item.title }}
                </a>
            </h4>
            <p>{{ item.desc }}</p>
            <a href="#" class="text-primary fw-medium">
                {{ item.btn }}<i class="fa-solid fa-arrow-right ms-2"></i>
            </a>
        </div>
        
    </div>
</div>
{% endfor %}
