<!-- Log In Modal -->
<div class="modal fade" id="choose-form" tabindex="-1" role="dialog" aria-labelledby="registermodal" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered login-pop-form" role="document">
		<div class="modal-content" id="registermodal">
			<span class="mod-close" data-bs-dismiss="modal" aria-hidden="true">
				<span class="svg-icon text-primary svg-icon-2hx">
					<svg width="32" height="32" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<rect opacity="0.3" x="2" y="2" width="20" height="20" rx="10" fill="currentColor"/>
						<rect x="7" y="15.3137" width="12" height="2" rx="1" transform="rotate(-45 7 15.3137)" fill="currentColor"/>
						<rect x="8.41422" y="7" width="12" height="2" rx="1" transform="rotate(45 8.41422 7)" fill="currentColor"/>
					</svg>
				</span>
			</span>
			<div class="modal-body">
				<h4 class="modal-header-title">Become a Member</h4>
				<div class="d-flex align-items-center justify-content-center mb-3">
					<img class="logo-fixed" src="{{ url_for('static', filename='img/cosmoxclub-logo.png')}}" alt="Cosmox Club Logo">
				</div>
				<div class="login-form">
					<form id="plan-inquary" method="POST" action="/">
						<input type="hidden" name="form_type" value="plan_inquiry">

						<div class="form-floating mb-3">
							<input type="text" name="fullname" class="form-control" placeholder="Full Name">
							<label>Full Name</label>
						</div>

						<div class="form-floating mb-3">
							<input type="tel" name="phone" class="form-control" placeholder="Phone">
							<label>Phone</label>
						</div>

						<div class="form-floating mb-3">
							<input type="email" name="email" class="form-control" placeholder="name@example.com">
							<label>Email address</label>
						</div>

						<div class="form-floating plan_inquary mb-3">
							<select id="plan-type" name="plan-type" class="form-control plan_inquary" style="padding: 0px 0px 0px 12px;" required>
								<option class="plan_inquary" value="" disabled selected>Select a plan</option>
								<option class="plan_inquary" value="Silver">Silver</option>
								<option class="plan_inquary" value="Gold">Gold</option>
								<option class="plan_inquary" value="Platinum">Platinum</option>
							</select>
						</div>

						<div class="form-group">
							<button type="submit" class="btn btn-lg btn-primary fw-medium full-width rounded-2">Submit Your Interest</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Modal -->

<script>
document.addEventListener("DOMContentLoaded", function () {
	const form = document.getElementById("plan-inquary");

	form.addEventListener("submit", function (e) {
		form.submit();
		e.preventDefault();
		form.reset();
		
	});
});
</script>
