{% set static_url = '/static' %}

{% set locations = [
    {'img': '/img/c-1.webp', 'title': "City destinations",      'location_type': 'city'},
    {'img': '/img/c-2.webp', 'title': "Mountains destinations", 'location_type': 'mountain'},
    {'img': '/img/c-4.webp', 'title': "Wildlife destinations",  'location_type': 'wildlife'},
    {'img': '/img/c-3.webp', 'title': "Beach destinations",     'location_type': 'beach'}
] %}

{% for item in locations %}
<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 d-flex align-items-stretch">
    <div class="location-property-wrap rounded-4 p-2">
        <div class="location-property-thumb rounded-4">
            <a href="{{ url_for('home_exchange', location_type=item.location_type) }}">
                <img src="{{ static_url }}{{ item.img }}" class="img-fluid" alt="{{ item.title }}">
            </a>
        </div>
        <div class="location-property-content">
            <div class="lp-content-flex">
                <h4 class="lp-content-title">{{ item.title }}</h4>
                <span class="text-muted-2">
                    {{ location_type_counts.get(item.location_type, 0) }} Homes
                </span>
            </div>
            <div class="lp-content-right">
                <a href="{{ url_for('home_exchange', location_type=item.location_type) }}" class="text-primary">
                    <!-- arrow icon SVG -->
                </a>
            </div>
        </div>
    </div>
</div>
{% endfor %}