{% extends '/base/style/base.html' %}

{% block content %}
			
<!-- ============================ User Dashboard ================================== -->
<section class="error-wrap">
	<div class="container">
		<div class="row justify-content-center">
			
			<div class="col-lg-6 col-md-10">
				<div class="text-center">
					
					<img src="/static/img/404.webp" class="img-fluid" alt="">
					<a class="btn btn-primary mt-5 px-5" href="/">Back To Home</a>
					
				</div>
			</div>
			
		</div>
	</div>
</section>
<!-- ============================ User Dashboard End ================================== -->
			
{% endblock %}