{% extends '/base/style/base.html' %}
{% set static_url = '/static' %}

{% block content %}
<!-- ============================ Page Title Start================================== -->
<div class="page-title">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12">
				<h2 class="ipt-title">Edit Home Details</h2>
				<span class="ipn-subtitle">Add a new home listing with complete details</span>
			</div>
		</div>
	</div>
</div>
<!-- ============================ Page Title End ================================== -->

<!-- ============================ Submit Property Start ================================== -->
<section class="bg-light">
	<div class="container">
		
		<div class="row">

			<div class="col-lg-3 col-md-12 pe-xl-4">
				
				<div class="simple-sidebar sm-sidebar" id="filter_search">
					
					<div class="sidebar-widgets">
						<div class="dashboard-navbar">
							
							<div class="d-user-avater">
								{% if user.profile_image %}
                                    <img src="{{ user.profile_image }}" class="img-fluid avater" alt=""/>
                                {% else %}
                                    <img src="{{ url_for('static', filename='profile/default.webp') }}"  class="img-fluid avater" alt=""/>
                                {% endif %}
								<h4>Hi, {{ user.name.split(' ')[0] }}</h4>
							</div>
							
							{% include '/base/menu/page-and-mobile.html' %}
							
						</div>
					</div>
					
				</div>
			</div>
			
			
			<!-- Submit Form -->
			<div class="col-lg-9 col-md-12">

				<div class="dashboard-wraper mb-3">
                    <h3>Edit Your Home Details</h3>
                </div>

				<div class="submit-page mb-3">
					<form method="post" action="/edit-home-details" enctype="multipart/form-data">
						<!-- Basic Information -->
							<div class="form-submit">  

							<h4>Basic Information</h4>
							<div class="submit-section">
								<div class="row">
									<div class="form-group col-md-12">
										<label class="mb-2" for="title">Home Title<span class="ms-1"><i class="bi bi-info-circle-fill"></i></span></label>
										<input type="text" id="title" name="title" class="form-control" placeholder="Enter home title"
											value="{{ user.get('properties', {}).get('title', '') }}">
									</div>

									<div class="form-group col-md-6">
										<label class="mb-2" for="property_type">Home Type</label>
										<select id="property_type" name="property_type" class="form-control">
											{% set property_type = user.get('properties', {}).get('property_type', '') %}
											<option value="" disabled {% if not property_type %}selected{% endif %}>Select Home Type</option>
											<option value="Bungalow" {% if property_type == 'Bungalow' %}selected{% endif %}>Bungalow</option>
											<option value="Townhome" {% if property_type == 'Townhome' %}selected{% endif %}>Townhome</option>
											<option value="Villas" {% if property_type == 'Villas' %}selected{% endif %}>Villas</option>
											<option value="Farmhouse" {% if property_type == 'Farmhouse' %}selected{% endif %}>Farmhouse</option>
											<option value="Apartment" {% if property_type == 'Apartment' %}selected{% endif %}>Apartment</option>
										</select>
									</div>

									<div class="form-group col-md-6">
										<label class="mb-2" for="location_type">Location Type</label>
										<select id="location_type" name="location_type" class="form-control">
											{% set location_type = user.get('properties', {}).get('location_type', '') %}
\											<option value="" disabled {% if not location_type %}selected{% endif %}>Select Location Type</option>
											<option value="Mountain" {% if location_type == 'Mountain' %}selected{% endif %}>Mountain</option>
											<option value="Beach" {% if location_type == 'Beach' %}selected{% endif %}>Beach</option>
											<option value="City" {% if location_type == 'City' %}selected{% endif %}>City</option>
											<option value="Wildlife Area" {% if location_type == 'Wildlife Area' %}selected{% endif %}>Wildlife Area</option>
										</select>

									</div>

									<div class="form-group col-md-6">
										<label class="mb-2" for="guest_capacity">Guest Capacity</label>
										<select id="guest_capacity" name="guest_capacity" class="form-control">
											{% set guest_capacity = user.get('properties', {}).get('guest_capacity', '') %}
											<option value="" disabled {% if not guest_capacity %}selected{% endif %}>Guest Capacity</option>
											<option value="1" {% if guest_capacity == '1' %}selected{% endif %}>1</option>
											<option value="2" {% if guest_capacity == '2' %}selected{% endif %}>2</option>
											<option value="3" {% if guest_capacity == '3' %}selected{% endif %}>3</option>
											<option value="4" {% if guest_capacity == '4' %}selected{% endif %}>4</option>
											<option value="5" {% if guest_capacity == '5' %}selected{% endif %}>5</option>
										</select>
									</div>
									
									<div class="form-group col-md-6">
										<label class="mb-2" for="size">Size in Sqft</label>
										<input type="text" id="size" name="size" class="form-control" placeholder="Square feet"
											value="{{ user.get('properties', {}).get('size', '') }}">
									</div>
									
									<div class="form-group col-md-6">
										<label class="mb-2" for="bedrooms">Bedrooms</label>
										<select id="bedrooms" name="bedrooms" class="form-control">
											{% set bedrooms = user.get('properties', {}).get('bedrooms', '') %}
											<option value="" disabled {% if not bedrooms %}selected{% endif %}>Select Total Bedrooms</option>
											<option value="1" {% if bedrooms == '1' %}selected{% endif %}>1</option>
											<option value="2" {% if bedrooms == '2' %}selected{% endif %}>2</option>
											<option value="3" {% if bedrooms == '3' %}selected{% endif %}>3</option>
											<option value="4" {% if bedrooms == '4' %}selected{% endif %}>4</option>
											<option value="5" {% if bedrooms == '5' %}selected{% endif %}>5</option>
										</select>
									</div>
									
									<div class="form-group col-md-6">
										<label class="mb-2" for="bathrooms">Bathrooms</label>
										<select id="bathrooms" name="bathrooms" class="form-control">
											{% set bathrooms = user.get('properties', {}).get('bathrooms', '') %}
											<option value="" disabled {% if not bathrooms %}selected{% endif %}>Select Total Bathrooms</option>
											<option value="1" {% if bathrooms == '1' %}selected{% endif %}>1</option>
											<option value="2" {% if bathrooms == '2' %}selected{% endif %}>2</option>
											<option value="3" {% if bathrooms == '3' %}selected{% endif %}>3</option>
											<option value="4" {% if bathrooms == '4' %}selected{% endif %}>4</option>
											<option value="5" {% if bathrooms == '5' %}selected{% endif %}>5</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						
						<!-- Location -->
						<div class="form-submit">  
							<h4>Location</h4>
							<div class="submit-section">
								<div class="row">
									<div class="form-group col-md-6">
										<label class="mb-2" for="address">Address</label>
										<input type="text" id="address" name="address" class="form-control"
											value="{{ user.get('properties', {}).get('address', '') }}" placeholder="Enter Home address">
									</div>
									
									<div class="form-group col-md-6">
										<label class="mb-2" for="city">City</label>
										<input type="text" id="city" name="city" class="form-control" 
											value="{{ user.get('properties', {}).get('city', '') }}" placeholder="Enter city name">
									</div>
									
									<div class="form-group col-md-6">
										<label class="mb-2" for="state">State</label>
										<input type="text" id="state" name="state" class="form-control" 
											value="{{ user.get('properties', {}).get('state', '') }}" placeholder="Enter state name">
									</div>
									
									<div class="form-group col-md-6">
										<label class="mb-2" for="pincode">Pin Code</label>
										<input type="text" id="pincode" name="pincode" class="form-control" 
											value="{{ user.get('properties', {}).get('pin_code', '') }}" placeholder="Enter Pin code">
									</div>
								</div>
							</div>
						</div>
						
						<!-- Detailed Information -->
						<div class="form-submit">  
							<h4>Detailed Information</h4>
							<div class="submit-section">
								<div class="row">
									<div class="form-group col-md-12">
										<label class="mb-2" for="description">Description</label>
										<textarea id="description" name="description" class="form-control h-120">{{ user.get('properties', {}).get('description', '') }}</textarea>
									</div>
									
									<div class="form-group col-md-12">
										<label class="mb-2 fs-5">Amenities</label>
										<div class="o-features">
											<ul class="no-ul-list third-row">
												{% set amenities = user.get('properties', {}).get('amenities', []) %}

												<li>
													<input id="a-1" class="form-check-input" name="amenities" value="Air Condition" type="checkbox" {% if 'Air Condition' in amenities %}checked{% endif %}>
													<label for="a-1" class="form-check-label">Air Condition</label>
												</li>
												<li>
													<input id="a-2" class="form-check-input" name="amenities" value="Refrigerator" type="checkbox" {% if 'Refrigerator' in amenities %}checked{% endif %}>
													<label for="a-2" class="form-check-label">Refrigerator</label>
												</li>
												<li>
													<input id="a-3" class="form-check-input" name="amenities" value="Microwave Oven" type="checkbox" {% if 'Microwave Oven' in amenities %}checked{% endif %}>
													<label for="a-3" class="form-check-label">Microwave Oven</label>
												</li>
												<li>
													<input id="a-4" class="form-check-input" name="amenities" value="Heating System" type="checkbox" {% if 'Heating System' in amenities %}checked{% endif %}>
													<label for="a-4" class="form-check-label">Heating System</label>
												</li>
												<li>
													<input id="a-6" class="form-check-input" name="amenities" value="Washing Machine" type="checkbox" {% if 'Washing Machine' in amenities %}checked{% endif %}>
													<label for="a-6" class="form-check-label">Washing Machine</label>
												</li>
												<li>
													<input id="a-7" class="form-check-input" name="amenities" value="Wifi" type="checkbox" {% if 'Wifi' in amenities %}checked{% endif %}>
													<label for="a-7" class="form-check-label">Wifi</label>
												</li>
												<li>
													<input id="a-8" class="form-check-input" name="amenities" value="Smart TV" type="checkbox" {% if 'Smart TV' in amenities %}checked{% endif %}>
													<label for="a-8" class="form-check-label">Smart TV</label>
												</li>
												<li>
													<input id="a-9" class="form-check-input" name="amenities" value="Dishwasher" type="checkbox" {% if 'Dishwasher' in amenities %}checked{% endif %}>
													<label for="a-9" class="form-check-label">Dishwasher</label>
												</li>
												<li>
													<input id="a-10" class="form-check-input" name="amenities" value="Induction" type="checkbox" {% if 'Induction' in amenities %}checked{% endif %}>
													<label for="a-10" class="form-check-label">Induction</label>
												</li>
												<li>
													<input id="a-12" class="form-check-input" name="amenities" value="Kettle" type="checkbox" {% if 'Kettle' in amenities %}checked{% endif %}>
													<label for="a-12" class="form-check-label">Kettle</label>
												</li>
												<li>
													<input id="a-11" class="form-check-input" name="amenities" value="Bathtub" type="checkbox" {% if 'Bathtub' in amenities %}checked{% endif %}>
													<label for="a-11" class="form-check-label">Bathtub</label>
												</li>
											</ul>
										</div>
									</div>

									<div class="form-group col-md-12">
                                        <label class="mb-2 fs-5">Unique Facilities</label>
                                        <div class="o-features">
											<ul class="no-ul-list third-row">
												{% set unique_facilities = user.get('properties', {}).get('unique_facilities', []) %}

												<li>
													<input id="b-1" class="form-check-input" name="unique_facilities" value="Private Backyard" type="checkbox" {% if 'Private Backyard' in unique_facilities %}checked{% endif %}>
													<label for="b-1" class="form-check-label">Private Backyard</label>
												</li>
												<li>
													<input id="b-3" class="form-check-input" name="unique_facilities" value="Balcony / Terrace" type="checkbox" {% if 'Balcony / Terrace' in unique_facilities %}checked{% endif %}>
													<label for="b-3" class="form-check-label">Balcony / Terrace</label>
												</li>
												<li>
													<input id="b-4" class="form-check-input" name="unique_facilities" value="BBQ" type="checkbox" {% if 'BBQ' in unique_facilities %}checked{% endif %}>
													<label for="b-4" class="form-check-label">BBQ</label>
												</li>
												<li>
													<input id="b-5" class="form-check-input" name="unique_facilities" value="Pool" type="checkbox" {% if 'Pool' in unique_facilities %}checked{% endif %}>
													<label for="b-5" class="form-check-label">Pool</label>
												</li>
												<li>
													<input id="b-6" class="form-check-input" name="unique_facilities" value="Bicycle" type="checkbox" {% if 'Bicycle' in unique_facilities %}checked{% endif %}>
													<label for="b-6" class="form-check-label">Bicycle</label>
												</li>
												<li>
													<input id="b-7" class="form-check-input" name="unique_facilities" value="Cleaning Person" type="checkbox" {% if 'Cleaning Person' in unique_facilities %}checked{% endif %}>
													<label for="b-7" class="form-check-label">Cleaning Person</label>
												</li>
												<li>
													<input id="b-8" class="form-check-input" name="unique_facilities" value="Private Parking" type="checkbox" {% if 'Private Parking' in unique_facilities %}checked{% endif %}>
													<label for="b-8" class="form-check-label">Private Parking</label>
												</li>
												<li>
													<input id="b-9" class="form-check-input" name="unique_facilities" value="Fire Place" type="checkbox" {% if 'Fire Place' in unique_facilities %}checked{% endif %}>
													<label for="b-9" class="form-check-label">Fire Place</label>
												</li>
												<li>
													<input id="b-10" class="form-check-input" name="unique_facilities" value="Private Gym" type="checkbox" {% if 'Private Gym' in unique_facilities %}checked{% endif %}>
													<label for="b-10" class="form-check-label">Private Gym</label>
												</li>
												<li>
													<input id="b-11" class="form-check-input" name="unique_facilities" value="Elevator" type="checkbox" {% if 'Elevator' in unique_facilities %}checked{% endif %}>
													<label for="b-11" class="form-check-label">Elevator</label>
												</li>
												<li>
													<input id="b-12" class="form-check-input" name="unique_facilities" value="Guide" type="checkbox" {% if 'Guide' in unique_facilities %}checked{% endif %}>
													<label for="b-12" class="form-check-label">Guide</label>
												</li>
											</ul>
										</div>
                                    </div>

									<div class="form-group col-md-12">
                                        <label class="mb-2 fs-5">Kids Friendly</label>
                                        <div class="o-features">
											<ul class="no-ul-list third-row">
												{% set kids_friendly = user.get('properties', {}).get('kids_friendly', []) %}

												<li>
													<input id="c-1" class="form-check-input" name="kids_friendly" value="Kids Playground" type="checkbox" {% if 'Kids Playground' in kids_friendly %}checked{% endif %}>
													<label for="c-1" class="form-check-label">Kids Playground</label>
												</li>
												<li>
													<input id="c-2" class="form-check-input" name="kids_friendly" value="Baby Gear" type="checkbox" {% if 'Baby Gear' in kids_friendly %}checked{% endif %}>
													<label for="c-2" class="form-check-label">Baby Gear</label>
												</li>
												<li>
													<input id="c-3" class="form-check-input" name="kids_friendly" value="Secured Pool" type="checkbox" {% if 'Secured Pool' in kids_friendly %}checked{% endif %}>
													<label for="c-3" class="form-check-label">Secured Pool</label>
												</li>
												<li>
													<input id="c-4" class="form-check-input" name="kids_friendly" value="Kids Toy" type="checkbox" {% if 'Kids Toy' in kids_friendly %}checked{% endif %}>
													<label for="c-4" class="form-check-label">Kids Toy</label>
												</li>
											</ul>
										</div>
                                    </div>
									
									<div class="form-group col-md-12">
                                        <label class="mb-2 fs-5">Eco-friendly Amenities</label>
                                        <div class="o-features">
											<ul class="no-ul-list third-row">
												{% set eco_friendly_amenities = user.get('properties', {}).get('eco_friendly_amenities', []) %}

												<li>
													<input id="d-1" class="form-check-input" name="eco_friendly_amenities" value="Selective Waste Sorting" type="checkbox" {% if 'Selective Waste Sorting' in eco_friendly_amenities %}checked{% endif %}>
													<label for="d-1" class="form-check-label">Selective Waste Sorting</label>
												</li>
												<li>
													<input id="d-2" class="form-check-input" name="eco_friendly_amenities" value="Public Transport Access" type="checkbox" {% if 'Public Transport Access' in eco_friendly_amenities %}checked{% endif %}>
													<label for="d-2" class="form-check-label">Public Transport Access</label>
												</li>
												<li>
													<input id="d-3" class="form-check-input" name="eco_friendly_amenities" value="Vegitable Garden" type="checkbox" {% if 'Vegitable Garden' in eco_friendly_amenities %}checked{% endif %}>
													<label for="d-3" class="form-check-label">Vegitable Garden</label>
												</li>
												<li>
													<input id="d-4" class="form-check-input" name="eco_friendly_amenities" value="Renewable Energy Provider" type="checkbox" {% if 'Renewable Energy Provider' in eco_friendly_amenities %}checked{% endif %}>
													<label for="d-4" class="form-check-label">Renewable Energy Provider</label>
												</li>
											</ul>
										</div>
                                    </div>

									<div class="form-group col-md-12">
                                        <label class="mb-2 fs-5">House Rules</label>
                                        <div class="o-features">
											<ul class="no-ul-list third-row">
												{% set house_rules = user.get('properties', {}).get('house_rules', []) %}

												<li>
													<input id="e-1" class="form-check-input" name="house_rules" value="Children Welcome" type="checkbox" {% if 'Children Welcome' in house_rules %}checked{% endif %}>
													<label for="e-1" class="form-check-label">Children Welcome</label>
												</li>
												<li>
													<input id="e-2" class="form-check-input" name="house_rules" value="Pets Welcome" type="checkbox" {% if 'Pets Welcome' in house_rules %}checked{% endif %}>
													<label for="e-2" class="form-check-label">Pets Welcome</label>
												</li>
												<li>
													<input id="e-3" class="form-check-input" name="house_rules" value="Plants to Water" type="checkbox" {% if 'Plants to Water' in house_rules %}checked{% endif %}>
													<label for="e-3" class="form-check-label">Plants to Water</label>
												</li>
											</ul>
										</div>
                                    </div>

									<div class="form-group col-md-12">
                                        <label class="mb-2 fs-5">Remote Friendly</label>
                                        <div class="o-features">
											<ul class="no-ul-list third-row">
												{% set remote_friendly = user.get('properties', {}).get('remote_friendly', []) %}

												<li>
													<input id="f-1" class="form-check-input" name="remote_friendly" value="Dedicated Work Space" type="checkbox" {% if 'Dedicated Work Space' in remote_friendly %}checked{% endif %}>
													<label for="f-1" class="form-check-label">Dedicated Work Space</label>
												</li>
												<li>
													<input id="f-2" class="form-check-input" name="remote_friendly" value="High Speed Internet" type="checkbox" {% if 'High Speed Internet' in remote_friendly %}checked{% endif %}>
													<label for="f-2" class="form-check-label">High Speed Internet</label>
												</li>
											</ul>
										</div>
                                    </div>
								</div>
							</div>
						</div>
						
						<!-- Contact Information -->
						<div class="form-submit">  
							<h4>Contact Information</h4>
							<div class="submit-section">
								<div class="row">
									<div class="form-group col-md-4">
										<label class="mb-2" for="contact_name">Your Name</label>
										<input type="text" id="contact_name" name="contact_name" class="form-control" placeholder="Your Name" 
											value="{{ user.get('properties', {}).get('name', '') }}">
									</div>
									
									<div class="form-group col-md-4">
										<label class="mb-2" for="contact_email">Email</label>
										<input type="email" id="contact_email" name="contact_email" class="form-control" placeholder="Email" 
											value="{{ user.get('properties', {}).get('email', '') }}">
									</div>
									
									<div class="form-group col-md-4">
										<label class="mb-2" for="contact_phone">Phone</label>
										<input type="text" id="contact_phone" name="contact_phone" class="form-control" placeholder="Phone" 
											value="{{ user.get('properties', {}).get('phone', '') }}">
									</div>
								</div>
							</div>
						</div>
						
						<!-- Submit Button -->
						{% set properties = user['properties'] if 'properties' in user else None %}
						{% if properties['images'] and properties['images'][0] %}
							<button type="submit" class="btn btn-primary mt-3"><i class="bi bi-bookmark me-2"></i>Save</button>
						{% else %}
							<button type="submit" class="btn btn-primary mt-3"><i class="bi bi-bookmark me-2"></i>Save & Next</button>
						{% endif %}
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- ============================ Submit Property End ================================== -->

<script>
	function openFilterSearch() {
		document.getElementById("filter_search").style.display = "block";
	}
	function closeFilterSearch() {
		document.getElementById("filter_search").style.display = "none";
	}
</script>
{% endblock %}