{% extends '/base/style/base.html' %}
{% set static_url = '/static' %}

{% block content %}
<!-- ============================ Page Title Start================================== -->
<div class="page-title">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12">
				<h2 class="ipt-title">Edit Home Details</h2>
				<span class="ipn-subtitle">Add a new home listing with complete details</span>
			</div>
		</div>
	</div>
</div>
<!-- ============================ Page Title End ================================== -->

<!-- ============================ Submit Property Start ================================== -->
<section class="bg-light">
	<div class="container">
		
		<div class="row">

			<div class="col-lg-3 col-md-12 pe-xl-4">
				
				<div class="simple-sidebar sm-sidebar" id="filter_search">
					
					<div class="sidebar-widgets">
						<div class="dashboard-navbar">
							
							<div class="d-user-avater">
								{% if user.profile_image %}
                                    <img src="{{ user.profile_image }}" class="img-fluid avater" alt=""/>
                                {% else %}
                                    <img src="{{ url_for('static', filename='profile/default.webp') }}"  class="img-fluid avater" alt=""/>
                                {% endif %}
								<h4>Hi, {{ user.name.split(' ')[0] }}</h4>
							</div>
							
							{% include '/base/menu/page-and-mobile.html' %}
							
						</div>
					</div>
					
				</div>
			</div>
			
			
			<!-- Submit Form -->
			<div class="col-lg-9 col-md-12">

				<div class="dashboard-wraper mb-3">
                    <h3>Edit Your Home Details</h3>
                </div>

				<div class="submit-page mb-3">
					<form method="post" action="/edit-home-details" enctype="multipart/form-data">
						<!-- Basic Information -->
							<div class="form-submit">  

							<h4>Basic Information</h4>
							<div class="submit-section">
								<div class="row">
									<div class="form-group col-md-12">
										<label class="mb-2" for="title">Home Title<span class="ms-1"><i class="bi bi-info-circle-fill"></i></span></label>
										<input type="text" id="title" name="title" class="form-control" placeholder="Enter home title"
											value="{{ user.get('properties', {}).get('title', '') }}">
									</div>

									<div class="form-group col-md-6">
										<label class="mb-2" for="property_type">Home Type</label>
										<select id="property_type" name="property_type" class="form-control">
											{% set property_type = user.get('properties', {}).get('property_type', '') %}
											<option value="" disabled {% if not property_type %}selected{% endif %}>&nbsp;</option>
											<option value="Houses" {% if property_type == 'Houses' %}selected{% endif %}>Houses</option>
											<option value="Apartment" {% if property_type == 'Apartment' %}selected{% endif %}>Apartment</option>
											<option value="Villas" {% if property_type == 'Villas' %}selected{% endif %}>Villas</option>
											<option value="Commercial" {% if property_type == 'Commercial' %}selected{% endif %}>Commercial</option>
											<option value="Offices" {% if property_type == 'Offices' %}selected{% endif %}>Offices</option>
										</select>
									</div>

									<div class="form-group col-md-6">
										<label class="mb-2" for="location_type">Location Type</label>
										<select id="location_type" name="location_type" class="form-control">
											{% set location_type = user.get('properties', {}).get('location_type', '') %}
											<option value="" disabled {% if not location_type %}selected{% endif %}>&nbsp;</option>
											<option value="For Rent" {% if location_type == 'For Rent' %}selected{% endif %}>For Rent</option>
											<option value="For Sale" {% if location_type == 'For Sale' %}selected{% endif %}>For Sale</option>
										</select>

									</div>

									<div class="form-group col-md-6">
										<label class="mb-2" for="guest_capacity">Guest Capacity</label>
										<input type="text" id="guest_capacity" name="guest_capacity" class="form-control" placeholder="Guest Capacity"
											value="{{ user.get('properties', {}).get('guest_capacity', '') }}">
									</div>
									
									<div class="form-group col-md-6">
										<label class="mb-2" for="size">Size in Sqft</label>
										<input type="text" id="size" name="size" class="form-control" placeholder="Square feet"
											value="{{ user.get('properties', {}).get('size', '') }}">
									</div>
									
									<div class="form-group col-md-6">
										<label class="mb-2" for="bedrooms">Bedrooms</label>
										<select id="bedrooms" name="bedrooms" class="form-control">
											{% set bedrooms = user.get('properties', {}).get('bedrooms', '') %}
											<option value="" disabled {% if not bedrooms %}selected{% endif %}>&nbsp;</option>
											<option value="1" {% if bedrooms == '1' %}selected{% endif %}>1</option>
											<option value="2" {% if bedrooms == '2' %}selected{% endif %}>2</option>
											<option value="3" {% if bedrooms == '3' %}selected{% endif %}>3</option>
											<option value="4" {% if bedrooms == '4' %}selected{% endif %}>4</option>
											<option value="5" {% if bedrooms == '5' %}selected{% endif %}>5</option>
										</select>

									</div>
									
									<div class="form-group col-md-6">
										<label class="mb-2" for="bathrooms">Bathrooms</label>
										<select id="bathrooms" name="bathrooms" class="form-control">
											{% set bathrooms = user.get('properties', {}).get('bathrooms', '') %}
											<option value="" disabled {% if not bathrooms %}selected{% endif %}>&nbsp;</option>
											<option value="1" {% if bathrooms == '1' %}selected{% endif %}>1</option>
											<option value="2" {% if bathrooms == '2' %}selected{% endif %}>2</option>
											<option value="3" {% if bathrooms == '3' %}selected{% endif %}>3</option>
											<option value="4" {% if bathrooms == '4' %}selected{% endif %}>4</option>
											<option value="5" {% if bathrooms == '5' %}selected{% endif %}>5</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						
						<!-- Location -->
						<div class="form-submit">  
							<h4>Location</h4>
							<div class="submit-section">
								<div class="row">
									<div class="form-group col-md-6">
										<label class="mb-2" for="address">Address</label>
										<input type="text" id="address" name="address" class="form-control"
											value="{{ user.get('properties', {}).get('address', '') }}" placeholder="Enter Home address">
									</div>
									
									<div class="form-group col-md-6">
										<label class="mb-2" for="city">City</label>
										<input type="text" id="city" name="city" class="form-control" 
											value="{{ user.get('properties', {}).get('city', '') }}" placeholder="Enter city name">
									</div>
									
									<div class="form-group col-md-6">
										<label class="mb-2" for="state">State</label>
										<input type="text" id="state" name="state" class="form-control" 
											value="{{ user.get('properties', {}).get('state', '') }}" placeholder="Enter state name">
									</div>
									
									<div class="form-group col-md-6">
										<label class="mb-2" for="pincode">Pin Code</label>
										<input type="text" id="pincode" name="pincode" class="form-control" 
											value="{{ user.get('properties', {}).get('pin_code', '') }}" placeholder="Enter Pin code">
									</div>
								</div>
							</div>
						</div>
						
						<!-- Detailed Information -->
						<div class="form-submit">  
							<h4>Detailed Information</h4>
							<div class="submit-section">
								<div class="row">
									<div class="form-group col-md-12">
										<label class="mb-2" for="description">Description</label>
										<textarea id="description" name="description" class="form-control h-120">{{ user.get('properties', {}).get('description', '') }}</textarea>
									</div>
									
									<div class="form-group col-md-12">
										<label class="mb-2 fs-5">Amenities</label>
										<div class="o-features">
											<ul class="no-ul-list third-row">
												{% set amenities = user.get('properties', {}).get('amenities', []) %}

												<li>
													<input id="a-1" class="form-check-input" name="amenities" value="Air Condition" type="checkbox" {% if 'Air Condition' in amenities %}checked{% endif %}>
													<label for="a-1" class="form-check-label">Air Condition</label>
												</li>
												<li>
													<input id="a-2" class="form-check-input" name="amenities" value="Refrigerator" type="checkbox" {% if 'Bedding' in amenities %}checked{% endif %}>
													<label for="a-2" class="form-check-label">Refrigerator</label>
												</li>
												<li>
													<input id="a-3" class="form-check-input" name="amenities" value="Heating" type="checkbox" {% if 'Heating' in amenities %}checked{% endif %}>
													<label for="a-3" class="form-check-label">Heating</label>
												</li>
												<li>
													<input id="a-4" class="form-check-input" name="amenities" value="Internet" type="checkbox" {% if 'Internet' in amenities %}checked{% endif %}>
													<label for="a-4" class="form-check-label">Internet</label>
												</li>
												<li>
													<input id="a-5" class="form-check-input" name="amenities" value="Microwave" type="checkbox" {% if 'Microwave' in amenities %}checked{% endif %}>
													<label for="a-5" class="form-check-label">Microwave</label>
												</li>
												<li>
													<input id="a-6" class="form-check-input" name="amenities" value="Smoking Allow" type="checkbox" {% if 'Smoking Allow' in amenities %}checked{% endif %}>
													<label for="a-6" class="form-check-label">Smoking Allow</label>
												</li>
												<li>
													<input id="a-7" class="form-check-input" name="amenities" value="Terrace" type="checkbox" {% if 'Terrace' in amenities %}checked{% endif %}>
													<label for="a-7" class="form-check-label">Terrace</label>
												</li>
												<li>
													<input id="a-8" class="form-check-input" name="amenities" value="Balcony" type="checkbox" {% if 'Balcony' in amenities %}checked{% endif %}>
													<label for="a-8" class="form-check-label">Balcony</label>
												</li>
												<li>
													<input id="a-9" class="form-check-input" name="amenities" value="Icon" type="checkbox" {% if 'Icon' in amenities %}checked{% endif %}>
													<label for="a-9" class="form-check-label">Icon</label>
												</li>
												<li>
													<input id="a-10" class="form-check-input" name="amenities" value="Wi-Fi" type="checkbox" {% if 'Wi-Fi' in amenities %}checked{% endif %}>
													<label for="a-10" class="form-check-label">Wi-Fi</label>
												</li>
												<li>
													<input id="a-11" class="form-check-input" name="amenities" value="Beach" type="checkbox" {% if 'Beach' in amenities %}checked{% endif %}>
													<label for="a-11" class="form-check-label">Beach</label>
												</li>
												<li>
													<input id="a-12" class="form-check-input" name="amenities" value="Parking" type="checkbox" {% if 'Parking' in amenities %}checked{% endif %}>
													<label for="a-12" class="form-check-label">Parking</label>
												</li>
											</ul>
										</div>
									</div>

									<div class="form-group col-md-12">
                                        <label class="mb-2 fs-5">Unique Facilities</label>
                                        <div class="o-features">
											<ul class="no-ul-list third-row">
												{% set unique_facilities = user.get('properties', {}).get('unique_facilities', []) %}

												<li>
													<input id="b-1" class="form-check-input" name="unique_facilities" value="Air Condition" type="checkbox" {% if 'Air Condition' in unique_facilities %}checked{% endif %}>
													<label for="b-1" class="form-check-label">Air Condition</label>
												</li>
												<li>
													<input id="b-2" class="form-check-input" name="unique_facilities" value="Bedding" type="checkbox" {% if 'Bedding' in unique_facilities %}checked{% endif %}>
													<label for="b-2" class="form-check-label">Bedding</label>
												</li>
												<li>
													<input id="b-3" class="form-check-input" name="unique_facilities" value="Heating" type="checkbox" {% if 'Heating' in unique_facilities %}checked{% endif %}>
													<label for="b-3" class="form-check-label">Heating</label>
												</li>
												<li>
													<input id="b-4" class="form-check-input" name="unique_facilities" value="Internet" type="checkbox" {% if 'Internet' in unique_facilities %}checked{% endif %}>
													<label for="b-4" class="form-check-label">Internet</label>
												</li>
												<li>
													<input id="b-5" class="form-check-input" name="unique_facilities" value="Microwave" type="checkbox" {% if 'Microwave' in unique_facilities %}checked{% endif %}>
													<label for="b-5" class="form-check-label">Microwave</label>
												</li>
												<li>
													<input id="b-6" class="form-check-input" name="unique_facilities" value="Smoking Allow" type="checkbox" {% if 'Smoking Allow' in unique_facilities %}checked{% endif %}>
													<label for="b-6" class="form-check-label">Smoking Allow</label>
												</li>
												<li>
													<input id="b-7" class="form-check-input" name="unique_facilities" value="Terrace" type="checkbox" {% if 'Terrace' in unique_facilities %}checked{% endif %}>
													<label for="b-7" class="form-check-label">Terrace</label>
												</li>
												<li>
													<input id="b-8" class="form-check-input" name="unique_facilities" value="Balcony" type="checkbox" {% if 'Balcony' in unique_facilities %}checked{% endif %}>
													<label for="b-8" class="form-check-label">Balcony</label>
												</li>
												<li>
													<input id="b-9" class="form-check-input" name="unique_facilities" value="Icon" type="checkbox" {% if 'Icon' in unique_facilities %}checked{% endif %}>
													<label for="b-9" class="form-check-label">Icon</label>
												</li>
												<li>
													<input id="b-10" class="form-check-input" name="unique_facilities" value="Wi-Fi" type="checkbox" {% if 'Wi-Fi' in unique_facilities %}checked{% endif %}>
													<label for="b-10" class="form-check-label">Wi-Fi</label>
												</li>
												<li>
													<input id="b-11" class="form-check-input" name="unique_facilities" value="Beach" type="checkbox" {% if 'Beach' in unique_facilities %}checked{% endif %}>
													<label for="b-11" class="form-check-label">Beach</label>
												</li>
												<li>
													<input id="b-12" class="form-check-input" name="unique_facilities" value="Parking" type="checkbox" {% if 'Parking' in unique_facilities %}checked{% endif %}>
													<label for="b-12" class="form-check-label">Parking</label>
												</li>
											</ul>
										</div>
                                    </div>

									<div class="form-group col-md-12">
                                        <label class="mb-2 fs-5">Kids Friendly</label>
                                        <div class="o-features">
											<ul class="no-ul-list third-row">
												{% set kids_friendly = user.get('properties', {}).get('kids_friendly', []) %}

												<li>
													<input id="c-1" class="form-check-input" name="kids_friendly" value="Air Condition" type="checkbox" {% if 'Air Condition' in kids_friendly %}checked{% endif %}>
													<label for="c-1" class="form-check-label">Air Condition</label>
												</li>
												<li>
													<input id="c-2" class="form-check-input" name="kids_friendly" value="Bedding" type="checkbox" {% if 'Bedding' in kids_friendly %}checked{% endif %}>
													<label for="c-2" class="form-check-label">Bedding</label>
												</li>
												<li>
													<input id="c-3" class="form-check-input" name="kids_friendly" value="Heating" type="checkbox" {% if 'Heating' in kids_friendly %}checked{% endif %}>
													<label for="c-3" class="form-check-label">Heating</label>
												</li>
												<li>
													<input id="c-4" class="form-check-input" name="kids_friendly" value="Internet" type="checkbox" {% if 'Internet' in kids_friendly %}checked{% endif %}>
													<label for="c-4" class="form-check-label">Internet</label>
												</li>
												<li>
													<input id="c-5" class="form-check-input" name="kids_friendly" value="Microwave" type="checkbox" {% if 'Microwave' in kids_friendly %}checked{% endif %}>
													<label for="c-5" class="form-check-label">Microwave</label>
												</li>
												<li>
													<input id="c-6" class="form-check-input" name="kids_friendly" value="Smoking Allow" type="checkbox" {% if 'Smoking Allow' in kids_friendly %}checked{% endif %}>
													<label for="c-6" class="form-check-label">Smoking Allow</label>
												</li>
												<li>
													<input id="c-7" class="form-check-input" name="kids_friendly" value="Terrace" type="checkbox" {% if 'Terrace' in kids_friendly %}checked{% endif %}>
													<label for="c-7" class="form-check-label">Terrace</label>
												</li>
												<li>
													<input id="c-8" class="form-check-input" name="kids_friendly" value="Balcony" type="checkbox" {% if 'Balcony' in kids_friendly %}checked{% endif %}>
													<label for="c-8" class="form-check-label">Balcony</label>
												</li>
												<li>
													<input id="c-9" class="form-check-input" name="kids_friendly" value="Icon" type="checkbox" {% if 'Icon' in kids_friendly %}checked{% endif %}>
													<label for="c-9" class="form-check-label">Icon</label>
												</li>
												<li>
													<input id="c-10" class="form-check-input" name="kids_friendly" value="Wi-Fi" type="checkbox" {% if 'Wi-Fi' in kids_friendly %}checked{% endif %}>
													<label for="c-10" class="form-check-label">Wi-Fi</label>
												</li>
												<li>
													<input id="c-11" class="form-check-input" name="kids_friendly" value="Beach" type="checkbox" {% if 'Beach' in kids_friendly %}checked{% endif %}>
													<label for="c-11" class="form-check-label">Beach</label>
												</li>
												<li>
													<input id="c-12" class="form-check-input" name="kids_friendly" value="Parking" type="checkbox" {% if 'Parking' in kids_friendly %}checked{% endif %}>
													<label for="c-12" class="form-check-label">Parking</label>
												</li>
											</ul>
										</div>
                                    </div>
									
									<div class="form-group col-md-12">
                                        <label class="mb-2 fs-5">Eco-friendly Amenities</label>
                                        <div class="o-features">
											<ul class="no-ul-list third-row">
												{% set eco_friendly_amenities = user.get('properties', {}).get('eco_friendly_amenities', []) %}

												<li>
													<input id="d-1" class="form-check-input" name="eco_friendly_amenities" value="Air Condition" type="checkbox" {% if 'Air Condition' in eco_friendly_amenities %}checked{% endif %}>
													<label for="d-1" class="form-check-label">Air Condition</label>
												</li>
												<li>
													<input id="d-2" class="form-check-input" name="eco_friendly_amenities" value="Bedding" type="checkbox" {% if 'Bedding' in eco_friendly_amenities %}checked{% endif %}>
													<label for="d-2" class="form-check-label">Bedding</label>
												</li>
												<li>
													<input id="d-3" class="form-check-input" name="eco_friendly_amenities" value="Heating" type="checkbox" {% if 'Heating' in eco_friendly_amenities %}checked{% endif %}>
													<label for="d-3" class="form-check-label">Heating</label>
												</li>
												<li>
													<input id="d-4" class="form-check-input" name="eco_friendly_amenities" value="Internet" type="checkbox" {% if 'Internet' in eco_friendly_amenities %}checked{% endif %}>
													<label for="d-4" class="form-check-label">Internet</label>
												</li>
												<li>
													<input id="d-5" class="form-check-input" name="eco_friendly_amenities" value="Microwave" type="checkbox" {% if 'Microwave' in eco_friendly_amenities %}checked{% endif %}>
													<label for="d-5" class="form-check-label">Microwave</label>
												</li>
												<li>
													<input id="d-6" class="form-check-input" name="eco_friendly_amenities" value="Smoking Allow" type="checkbox" {% if 'Smoking Allow' in eco_friendly_amenities %}checked{% endif %}>
													<label for="d-6" class="form-check-label">Smoking Allow</label>
												</li>
												<li>
													<input id="d-7" class="form-check-input" name="eco_friendly_amenities" value="Terrace" type="checkbox" {% if 'Terrace' in eco_friendly_amenities %}checked{% endif %}>
													<label for="d-7" class="form-check-label">Terrace</label>
												</li>
												<li>
													<input id="d-8" class="form-check-input" name="eco_friendly_amenities" value="Balcony" type="checkbox" {% if 'Balcony' in eco_friendly_amenities %}checked{% endif %}>
													<label for="d-8" class="form-check-label">Balcony</label>
												</li>
												<li>
													<input id="d-9" class="form-check-input" name="eco_friendly_amenities" value="Icon" type="checkbox" {% if 'Icon' in eco_friendly_amenities %}checked{% endif %}>
													<label for="d-9" class="form-check-label">Icon</label>
												</li>
												<li>
													<input id="d-10" class="form-check-input" name="eco_friendly_amenities" value="Wi-Fi" type="checkbox" {% if 'Wi-Fi' in eco_friendly_amenities %}checked{% endif %}>
													<label for="d-10" class="form-check-label">Wi-Fi</label>
												</li>
												<li>
													<input id="d-11" class="form-check-input" name="eco_friendly_amenities" value="Beach" type="checkbox" {% if 'Beach' in eco_friendly_amenities %}checked{% endif %}>
													<label for="d-11" class="form-check-label">Beach</label>
												</li>
												<li>
													<input id="d-12" class="form-check-input" name="eco_friendly_amenities" value="Parking" type="checkbox" {% if 'Parking' in eco_friendly_amenities %}checked{% endif %}>
													<label for="d-12" class="form-check-label">Parking</label>
												</li>
											</ul>
										</div>
                                    </div>

									<div class="form-group col-md-12">
                                        <label class="mb-2 fs-5">House Rules</label>
                                        <div class="o-features">
											<ul class="no-ul-list third-row">
												{% set house_rules = user.get('properties', {}).get('house_rules', []) %}

												<li>
													<input id="e-1" class="form-check-input" name="house_rules" value="Air Condition" type="checkbox" {% if 'Air Condition' in house_rules %}checked{% endif %}>
													<label for="e-1" class="form-check-label">Air Condition</label>
												</li>
												<li>
													<input id="e-2" class="form-check-input" name="house_rules" value="Bedding" type="checkbox" {% if 'Bedding' in house_rules %}checked{% endif %}>
													<label for="e-2" class="form-check-label">Bedding</label>
												</li>
												<li>
													<input id="e-3" class="form-check-input" name="house_rules" value="Heating" type="checkbox" {% if 'Heating' in house_rules %}checked{% endif %}>
													<label for="e-3" class="form-check-label">Heating</label>
												</li>
												<li>
													<input id="e-4" class="form-check-input" name="house_rules" value="Internet" type="checkbox" {% if 'Internet' in house_rules %}checked{% endif %}>
													<label for="e-4" class="form-check-label">Internet</label>
												</li>
												<li>
													<input id="e-5" class="form-check-input" name="house_rules" value="Microwave" type="checkbox" {% if 'Microwave' in house_rules %}checked{% endif %}>
													<label for="e-5" class="form-check-label">Microwave</label>
												</li>
												<li>
													<input id="e-6" class="form-check-input" name="house_rules" value="Smoking Allow" type="checkbox" {% if 'Smoking Allow' in house_rules %}checked{% endif %}>
													<label for="e-6" class="form-check-label">Smoking Allow</label>
												</li>
												<li>
													<input id="e-7" class="form-check-input" name="house_rules" value="Terrace" type="checkbox" {% if 'Terrace' in house_rules %}checked{% endif %}>
													<label for="e-7" class="form-check-label">Terrace</label>
												</li>
												<li>
													<input id="e-8" class="form-check-input" name="house_rules" value="Balcony" type="checkbox" {% if 'Balcony' in house_rules %}checked{% endif %}>
													<label for="e-8" class="form-check-label">Balcony</label>
												</li>
												<li>
													<input id="e-9" class="form-check-input" name="house_rules" value="Icon" type="checkbox" {% if 'Icon' in house_rules %}checked{% endif %}>
													<label for="e-9" class="form-check-label">Icon</label>
												</li>
												<li>
													<input id="e-10" class="form-check-input" name="house_rules" value="Wi-Fi" type="checkbox" {% if 'Wi-Fi' in house_rules %}checked{% endif %}>
													<label for="e-10" class="form-check-label">Wi-Fi</label>
												</li>
												<li>
													<input id="e-11" class="form-check-input" name="house_rules" value="Beach" type="checkbox" {% if 'Beach' in house_rules %}checked{% endif %}>
													<label for="e-11" class="form-check-label">Beach</label>
												</li>
												<li>
													<input id="e-12" class="form-check-input" name="house_rules" value="Parking" type="checkbox" {% if 'Parking' in house_rules %}checked{% endif %}>
													<label for="e-12" class="form-check-label">Parking</label>
												</li>
											</ul>
										</div>
                                    </div>

									<div class="form-group col-md-12">
                                        <label class="mb-2 fs-5">Remote Friendly</label>
                                        <div class="o-features">
											<ul class="no-ul-list third-row">
												{% set remote_friendly = user.get('properties', {}).get('remote_friendly', []) %}

												<li>
													<input id="f-1" class="form-check-input" name="remote_friendly" value="Air Condition" type="checkbox" {% if 'Air Condition' in remote_friendly %}checked{% endif %}>
													<label for="f-1" class="form-check-label">Air Condition</label>
												</li>
												<li>
													<input id="f-2" class="form-check-input" name="remote_friendly" value="Bedding" type="checkbox" {% if 'Bedding' in remote_friendly %}checked{% endif %}>
													<label for="f-2" class="form-check-label">Bedding</label>
												</li>
												<li>
													<input id="f-3" class="form-check-input" name="remote_friendly" value="Heating" type="checkbox" {% if 'Heating' in remote_friendly %}checked{% endif %}>
													<label for="f-3" class="form-check-label">Heating</label>
												</li>
												<li>
													<input id="f-4" class="form-check-input" name="remote_friendly" value="Internet" type="checkbox" {% if 'Internet' in remote_friendly %}checked{% endif %}>
													<label for="f-4" class="form-check-label">Internet</label>
												</li>
												<li>
													<input id="f-5" class="form-check-input" name="remote_friendly" value="Microwave" type="checkbox" {% if 'Microwave' in remote_friendly %}checked{% endif %}>
													<label for="f-5" class="form-check-label">Microwave</label>
												</li>
												<li>
													<input id="f-6" class="form-check-input" name="remote_friendly" value="Smoking Allow" type="checkbox" {% if 'Smoking Allow' in remote_friendly %}checked{% endif %}>
													<label for="f-6" class="form-check-label">Smoking Allow</label>
												</li>
												<li>
													<input id="f-7" class="form-check-input" name="remote_friendly" value="Terrace" type="checkbox" {% if 'Terrace' in remote_friendly %}checked{% endif %}>
													<label for="f-7" class="form-check-label">Terrace</label>
												</li>
												<li>
													<input id="f-8" class="form-check-input" name="remote_friendly" value="Balcony" type="checkbox" {% if 'Balcony' in remote_friendly %}checked{% endif %}>
													<label for="f-8" class="form-check-label">Balcony</label>
												</li>
												<li>
													<input id="f-9" class="form-check-input" name="remote_friendly" value="Icon" type="checkbox" {% if 'Icon' in remote_friendly %}checked{% endif %}>
													<label for="f-9" class="form-check-label">Icon</label>
												</li>
												<li>
													<input id="f-10" class="form-check-input" name="remote_friendly" value="Wi-Fi" type="checkbox" {% if 'Wi-Fi' in remote_friendly %}checked{% endif %}>
													<label for="f-10" class="form-check-label">Wi-Fi</label>
												</li>
												<li>
													<input id="f-11" class="form-check-input" name="remote_friendly" value="Beach" type="checkbox" {% if 'Beach' in remote_friendly %}checked{% endif %}>
													<label for="f-11" class="form-check-label">Beach</label>
												</li>
												<li>
													<input id="f-12" class="form-check-input" name="remote_friendly" value="Parking" type="checkbox" {% if 'Parking' in remote_friendly %}checked{% endif %}>
													<label for="f-12" class="form-check-label">Parking</label>
												</li>
											</ul>
										</div>
                                    </div>
								</div>
							</div>
						</div>
						
						<!-- Contact Information -->
						<div class="form-submit">  
							<h4>Contact Information</h4>
							<div class="submit-section">
								<div class="row">
									<div class="form-group col-md-4">
										<label class="mb-2" for="contact_name">Your Name</label>
										<input type="text" id="contact_name" name="contact_name" class="form-control" placeholder="Your Name" 
											value="{{ user.get('properties', {}).get('name', '') }}">
									</div>
									
									<div class="form-group col-md-4">
										<label class="mb-2" for="contact_email">Email</label>
										<input type="email" id="contact_email" name="contact_email" class="form-control" placeholder="Email" 
											value="{{ user.get('properties', {}).get('email', '') }}">
									</div>
									
									<div class="form-group col-md-4">
										<label class="mb-2" for="contact_phone">Phone</label>
										<input type="text" id="contact_phone" name="contact_phone" class="form-control" placeholder="Phone" 
											value="{{ user.get('properties', {}).get('phone', '') }}">
									</div>
								</div>
							</div>
						</div>
						
						<!-- Submit Button -->
						{% set properties = user['properties'] if 'properties' in user else None %}
						{% if properties['images'] and properties['images'][0] %}
							<button type="submit" class="btn btn-primary mt-3"><i class="bi bi-bookmark me-2"></i>Save</button>
						{% else %}
							<button type="submit" class="btn btn-primary mt-3"><i class="bi bi-bookmark me-2"></i>Save & Next</button>
						{% endif %}
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- ============================ Submit Property End ================================== -->

<script>
	function openFilterSearch() {
		document.getElementById("filter_search").style.display = "block";
	}
	function closeFilterSearch() {
		document.getElementById("filter_search").style.display = "none";
	}
</script>
{% endblock %}