{% extends '/base/style/base.html' %}
{% set static_url = '/static' %}

{% block content %}
<!-- ============================ Hero Banner  Start================================== -->
<div class="featured_slick_gallery gray">
	<div class="featured_slick_gallery-slide">
		{% set images = house_details.properties.images if house_details.properties.images else [] %}

		{% for img in images %}
			<div class="featured_slick_padd">
				<a href="{{ img }}" class="mfp-gallery">
					<img src="{{ img }}" class="img-fluid mx-auto w-100 h-100 object-fit-cover" alt="Home Image" />
				</a>
			</div>
		{% endfor %}

	</div>
</div>
<!-- ============================ Hero Banner End ================================== -->

<!-- ============================ Property Detail Start ================================== -->
<section class="gray-simple">
	<div class="container">
		<div class="row">
			
			<!-- property main detail -->
			<div class="col-lg-12 col-md-12 col-sm-12">
			
				<div class="property_block_wrap style-2 p-4">
					<div class="prt-detail-title-desc">
						<span class="label text-light bg-success">
                            {{ house_details.properties.house_status }}
						</span>
						<h3 class="mt-3">
                            {{ house_details.properties.title }}
						</h3>
						<span><i class="lni-map-marker"></i> 
                            <i class="bi bi-geo-alt me-1"></i>{{ house_details.properties.city }}, {{ house_details.properties.state }}
						</span>
						<h3 class="prt-price-fix text-primary mt-2">
                            {{ house_details.properties.guest_points }}
						<span>GP/Night</span></h3>
						<div class="list-fx-features">
							<div class="listing-card-info-icon">
								<div class="inc-fleat-icon me-1"><img src="{{ static_url }}/img/bed.svg" width="13" alt=""></div>{{ house_details.properties.bedrooms }} Beds
							</div>
							<div class="listing-card-info-icon">
								<div class="inc-fleat-icon me-1"><img src="{{ static_url }}/img/bathtub.svg" width="13" alt=""></div>{{ house_details.properties.bathrooms }} Bath
							</div>
							<div class="listing-card-info-icon">
								<div class="inc-fleat-icon me-1"><img src="{{ static_url }}/img/move.svg" width="13" alt=""></div>{{ house_details.properties.size }} sqft
							</div>
						</div>
					</div>
				</div>
				
				<!-- single-propertys-1 code  -->
				<!-- Single Block Wrap -->
				<div class="property_block_wrap style-2">
									
					<div class="property_block_wrap_header">
						<a data-bs-toggle="collapse" data-parent="#features" data-bs-target="#clOne" aria-controls="clOne" href="javascript:void(0);" aria-expanded="false"><h4 class="property_block_title">Detail & Features</h4></a>
					</div>
					<div id="clOne" class="panel-collapse collapse show" aria-labelledby="clOne">
						<div class="block-body">
							<ul class="deatil_features">
								<li><strong>Bedrooms:</strong>{{ house_details.properties.bedrooms }}  Beds</li>
								<li><strong>Bathrooms:</strong>{{ house_details.properties.bathrooms }}  Bath</li>
								<li><strong>Guest Capacity:</strong>{{ house_details.properties.guest_capacity }}</li>
								<li><strong>Size:</strong>{{ house_details.properties.size }}  sqft</li>
								<li><strong>Homes Type:</strong>{{ house_details.properties.property_type }}</li>
								<li><strong>Location Type:</strong>{{ house_details.properties.location_type }}</li>
							</ul>
						</div>
					</div>
					
				</div>

				<!-- Single Block Wrap -->
				<div class="property_block_wrap style-2">
					
					<div class="property_block_wrap_header">
						<a data-bs-toggle="collapse" data-parent="#dsrp" data-bs-target="#clTwo" aria-controls="clTwo" href="javascript:void(0);" aria-expanded="true"><h4 class="property_block_title">Description</h4></a>
					</div>
					<div id="clTwo" class="panel-collapse collapse show">
						<div class="block-body" style="max-height: 250px; overflow-y: scroll;">
							{{ house_details.properties.description.replace('\n', '<br>')|safe }}
						</div>
					</div>
				</div>

				<!-- Single Block Wrap -->
				{% if house_details.properties.amenities %}
				<div class="property_block_wrap style-2">					
					<div class="property_block_wrap_header">
						<a data-bs-toggle="collapse" data-parent="#amen"  data-bs-target="#clThree" aria-controls="clThree" href="javascript:void(0);" aria-expanded="true"><h4 class="property_block_title">Ameneties</h4></a>
					</div>
					
					<div id="clThree" class="panel-collapse collapse show">
						<div class="block-body">
							<ul class="avl-features third color">
								{% for amenity in house_details.properties.amenities %}
									<li><i class="{{ amenity_icons.get(amenity, 'fa-solid fa-circle') }} me-2"></i>{{ amenity }}</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
				{% endif%}

				{% if house_details.properties.unique_facilities %}
				<div class="property_block_wrap style-2">
					
					<div class="property_block_wrap_header">
						<a data-bs-toggle="collapse" data-parent="#amen1"  data-bs-target="#clThree1" aria-controls="clThree1" href="javascript:void(0);" aria-expanded="true"><h4 class="property_block_title">Unique Facilities</h4></a>
					</div>
					
					<div id="clThree1" class="panel-collapse collapse show">
						<div class="block-body">
							<ul class="avl-features third color">
								{% for unique_facilities1 in house_details.properties.unique_facilities %}
									<li><i class="{{ amenity_icons.get(unique_facilities1, 'fa-solid fa-circle') }} me-2"></i>{{ unique_facilities1 }}</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
				{% endif%}

				{% if house_details.properties.kids_friendly %}
				<div class="property_block_wrap style-2">
					
					<div class="property_block_wrap_header">
						<a data-bs-toggle="collapse" data-parent="#amen2"  data-bs-target="#clThree2" aria-controls="clThree2" href="javascript:void(0);" aria-expanded="true"><h4 class="property_block_title">Kids Friendly</h4></a>
					</div>
					
					<div id="clThree2" class="panel-collapse collapse show">
						<div class="block-body">
							<ul class="avl-features third color">
								{% for kids_friendly1 in house_details.properties.kids_friendly %}
									<li><i class="{{ amenity_icons.get(kids_friendly1, 'fa-solid fa-circle') }} me-2"></i>{{ kids_friendly1 }}</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
				{% endif%}

				{% if house_details.properties.eco_friendly_amenities %}
				<div class="property_block_wrap style-2">
					
					<div class="property_block_wrap_header">
						<a data-bs-toggle="collapse" data-parent="#amen2"  data-bs-target="#clThree3" aria-controls="clThree3" href="javascript:void(0);" aria-expanded="true"><h4 class="property_block_title">Eco-friendly Amenities</h4></a>
					</div>
					
					<div id="clThree3" class="panel-collapse collapse show">
						<div class="block-body">
							<ul class="avl-features third color">
								{% for eco_friendly_amenities1 in house_details.properties.eco_friendly_amenities %}
									<li><i class="{{ amenity_icons.get(eco_friendly_amenities1, 'fa-solid fa-circle') }} me-2"></i>{{ eco_friendly_amenities1 }}</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
				{% endif%}

				{% if house_details.properties.house_rules %}
				<div class="property_block_wrap style-2">
					
					<div class="property_block_wrap_header">
						<a data-bs-toggle="collapse" data-parent="#amen2"  data-bs-target="#clThree4" aria-controls="clThree4" href="javascript:void(0);" aria-expanded="true"><h4 class="property_block_title">House Rules</h4></a>
					</div>
					
					<div id="clThree4" class="panel-collapse collapse show">
						<div class="block-body">
							<ul class="avl-features third color">
								{% for house_rules1 in house_details.properties.house_rules %}
									<li><i class="{{ amenity_icons.get(house_rules1, 'fa-solid fa-circle') }} me-2"></i>{{ house_rules1 }}</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
				{% endif%}

				{% if house_details.properties.remote_friendly %}
				<div class="property_block_wrap style-2">
					
					<div class="property_block_wrap_header">
						<a data-bs-toggle="collapse" data-parent="#amen2"  data-bs-target="#clThree5" aria-controls="clThree5" href="javascript:void(0);" aria-expanded="true"><h4 class="property_block_title">Remote Friendly</h4></a>
					</div>
					
					<div id="clThree5" class="panel-collapse collapse show">
						<div class="block-body">
							<ul class="avl-features third color">
								{% for remote_friendly1 in house_details.properties.remote_friendly %}
									<li><i class="{{ amenity_icons.get(remote_friendly1, 'fa-solid fa-circle') }} me-2"></i>{{ remote_friendly1 }}</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
				{% endif%}

				<!-- Single Block Wrap -->
				<div class="property_block_wrap style-2">
					
					<div class="property_block_wrap_header">
						<a data-bs-toggle="collapse" data-parent="#clSev"  data-bs-target="#clSev" aria-controls="clOne" href="javascript:void(0);" aria-expanded="true"><h4 class="property_block_title">Gallery</h4></a>
					</div>

					<div id="clSev" class="panel-collapse collapse show">
						<div class="block-body">
							<ul class="list-gallery-inline">
								{% set images = house_details.properties.images if house_details.properties.images else [] %}
								{% for img in images %}
								<li>
									<a href="{{ img }}" class="mfp-gallery"><img src="{{ img }}" class="img-fluid mx-auto" alt="" /></a>
								</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>

                <!-- <div class="property_block_wrap style-2">
					
					<div class="property_block_wrap_header">
						<a data-bs-toggle="collapse" data-parent="#vid"  data-bs-target="#clFour" aria-controls="clFour" href="javascript:void(0);" aria-expanded="true" class="collapsed"><h4 class="property_block_title">Home video</h4></a>
					</div>
					
					<div id="clFour" class="panel-collapse collapse">
						<div class="block-body">
							<div class="property_video">
								<div class="thumb">
									<img class="pro_img img-fluid w100" src="{{ static_url }}/uploads/default.webp" alt="">
									<div class="overlay_icon">
										<div class="bb-video-box">
											<div class="bb-video-box-inner">
												<div class="bb-video-box-innerup">
													<a href="{{ static_url }}/img/banners.mp4" data-bs-toggle="modal" data-bs-target="#popup-video" class="text-primary"><i class="fa-solid fa-play"></i></a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
				</div>

				<div class="property_block_wrap style-2">
					
					<div class="property_block_wrap_header">
						<a data-bs-toggle="collapse" data-parent="#loca"  data-bs-target="#clSix" aria-controls="clSix" href="javascript:void(0);" aria-expanded="true" class="collapsed"><h4 class="property_block_title">Location</h4></a>
					</div>

					<div id="clSix" class="panel-collapse collapse">
						<div class="block-body">
							<div class="map-container">
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3807.761096437797!2d77.36366467570896!3d28.622922884516637!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce544da5a9ebf%3A0x4024cbbabd66b412!2sKLJ%20Noida%20One!5e1!3m2!1sen!2sin!4v1752132514263!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
							</div>

						</div>
					</div>
					
				</div> -->

			</div>
			
		</div>
	</div>
</section>
<!-- ============================ Property Detail End ================================== -->

<!-- <div class="modal fade" id="popup-video" tabindex="-1" role="dialog" aria-labelledby="popupvideo" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content" id="popupvideo">
			<iframe class="embed-responsive-item" class="full-width" height="480" src="#" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
</div> -->

{% endblock %}